---
layout: archive
permalink: /categories/
title: "My Hobbies and Interests"
author_profile: true
---

This is a blog in the making—an exercise in organizing and reflecting on my interests, while also creating a space to
share them with others who might enjoy the same things.

Over the past few years, I've found that topics like gut microbes, South Indian cooking, Carnatic music, or a recent travel story
almost always find their way into conversations. I enjoy going down deep dives—on Reddit, YouTube, or over an hour-long phone call with a friend—and
love when these chats leave others just as curious or excited as I am.

One of my favorite outcomes is seeing someone walk away newly interested in the gut microbiome (though hopefully not
convinced that our microbes control *everything*—they don't!). Or when friends trying to eat more vegetarian meals ask
for something tasty and practical—because despite the abundance of recipes online, it's hard to grasp an entire
cuisine from scratch.

I grew up in a vegetarian household in a place where that's the default. That experience gave me a deep library of
dishes, habits, and tricks I now try to document and adapt for others, especially those cooking outside South Asia or
new to the ingredients.

This space is my attempt to share some of that, and a bit more. Thanks for visiting.

{% include base_path %}
{% include group-by-array collection=site.posts field="categories" %}

{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}