---
layout: archive
permalink: /categories/
title: "My Hobbies and Interests"
author_profile: true
---
 
<h2>About This Space</h2>

This page is still in the making, is an exercise in organizing and reflecting on my interests, while creating a space to
share them with others who might enjoy the same things. <br>

Over the past few years, topics like <i>gut microbes</i> (wip), <i>South Indian cooking</i>, <i>Carnatic music</i>, <i>crocheting</i>, or recent
travel stories keep finding their way into my conversations. I love these chats leave someone else just more curious and excited as I am. One of my favorite outcomes has been seeing someone walk away newly interested in the gut microbiome (though hopefully not
convinced our microbes control <b> everything </b> about us they don't!). <br>

Another motivator has been helping friends looking to eat more vegetarian meals. I grew up in a vegetarian household in a place where that's the default. That gave me a deep library of dishes, habits,
and tricks that I now try to adapt and share—especially for those unfamiliar with the cuisine or new to its
ingredients. Despite the abundance of recipes online, south indian cusine remains challenging to discover and grasp for someone with
no exposure or context. <br>

This space is my attempt to share a bit of that, and a bit more. <br>


{% include base_path %}
{% include group-by-array collection=site.posts field="categories" %}

{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}