---
layout: archive
permalink: /categories/
title: "My Hobbies and Interests"
author_profile: true
---

This is my blog in the making. An exercise for me to organize and reflect on my interests and hobbies while also building a platform to share it with others who share my interests.

<!-- I love talking about the topics that feature here and enjoy discussing them - going on Reddit/YouTube deep dives - and learning more. In fact, it would be rare that I go through a conversation with someone over a drink and gut microbes, South Indian food, music or a cool place I recently visited do not come up at least once. One of my favorite outcomes from these conversations is leaving them as excited me about the gut microbiome and sometimes, convinced that out gut bacteria are super bugs that control everything about our health and life (This is NOT true).

When I talk with collegues and friends from around here who are trying to commit to a more vegetarian or vegan diet, they often complain that it is so hard to find interesting and healthy dishes to cook. Having grown up for 20+ years of my life in a vegetarian household in a soceity where vegetarian food is prevalantly the default, it kills me to think that I cannot magically transfer the knowledge of all the dishes I have grown up eating and am perfecting making today. While there are abundant sources of recipes and videos online, it is challenging to wrap your head around a cuisine  -->

{% include base_path %}
{% include group-by-array collection=site.posts field="categories" %}

{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}